body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #eef5e9;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

header {
  background-color: #205a39;
  padding: 20px;
  text-align: center;
  color: #fff;
}

h1 {
  margin: 0;
}

main {
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
}

h2 {
  color: #205a39;
  margin-top: 0;
}

#material-selection {
  margin-bottom: 20px;
  text-align: center;
}

button {
  background-color: #3c9647;
  color: #fff;
  border: none;
  padding: 15px 30px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

button:hover {
  background-color: #2e7434;
}

#dimensions-input {
  display: none;
}

.input-wrapper {
  margin-bottom: 10px;
}

input {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

#btn-calcular {
  background-color: #3c9647;
  color: #fff;
  border: none;
  padding: 15px 30px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

#btn-calcular:hover {
  background-color: #2e7434;
}

#resultado {
  margin-top: 20px;
  background-color: #205a39;
  padding: 20px;
  color: #fff;
  border-radius: 5px;
}

#resultado p {
  font-size: 18px;
  margin: 0;
}
